postgresql:
  enabled: false

redis:
  enabled: true
  master:
    persistence:
      storageClass: "csi-rbd-sc"

env:
  PRETIX_PRETIX_INSTANCE_NAME: Silvaica Tickets
  PRETIX_PRETIX_URL: https://tickets.silvatica.site
  PRETIX_PRETIX_CURRENCY: EUR
  PRETIX_MAIL_FROM: noreply@silvatica.site
  PRETIX_MAIL_HOST: mail.adb.sh
  PRETIX_MAIL_USER: noreply@silvatica.site
  PRETIX_MAIL_PORT: 587
  PRETIX_MAIL_TLS: True

extraEnv:
  - name: PRETIX_DATABASE_NAME
    valueFrom:
      secretKeyRef:
        name: pretix-db-app
        key: dbname
  - name: PRETIX_DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: pretix-db-app
        key: user
  - name: PRETIX_DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: pretix-db-app
        key: password
  - name: PRETIX_DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: pretix-db-app
        key: host
  - name: PRETIX_MAIL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: pretix-mail
        key: password

persistence:
  enabled: true
  storageClassName: "csi-cephfs-sc"
  accessMode: ReadWriteMany
  size: 16Gi

ingress:
  enabled: true
  ingressClassName: "contour-external"
  hosts:
    - host: tickets.silvatica.site
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: pretix-cert
      hosts:
        - "tickets.silvatica.site"
  annotations:
    "cert-manager.io/cluster-issuer": "lets-encrypt"
