apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: matrix
resources:
  - namespace.yml
  - cnpg.yml
  - pvc-media.yml
  - sealed-secret-signingkey.yml
  - middleware-cors.yml
helmCharts:
  - name: matrix-synapse
    repo: https://ananace.gitlab.io/charts
    version: 3.12.19
    namespace: matrix
    releaseName: matrix
    valuesFile: values-matrix.yml
