postgresql:
  enabled: false
externalPostgresql:
  host: matrix-db-rw
  port: 5432
  username: matrix
  database: matrix
  existingSecret: matrix-db-app
  existingSecretPasswordKey: password

serverName: "adb.sh"
publicServerName: "matrix.adb.sh"
argoCD: true

signingkey:
  job:
    enabled: false
  existingSecret: "signingkey"
  existingSecretKey: "signingkey"

config:
  enableRegistration: false
extraConfig:
  url_preview_enabled: true
  url_preview_ip_range_blacklist:
    - "127.0.0.0/8"
    - "10.0.0.0/8"
    - "172.16.0.0/12"
    - "192.168.0.0/16"
    - "100.64.0.0/10"
    - "169.254.0.0/16"

persistence:
  enabled: true
  existingClaim: matrix-matrix-synapse-mediastore

workers:
  generic_worker:
    enabled: true
    csPaths:
      - "/_matrix/"

    paths: []

  federation_reader:
    enabled: true
    generic: true
    listeners: [federation]
    paths:
      - "/_matrix/federation/v1/send/"
  synchrotron:
    enabled: true
    generic: true
    listeners: [client]
    csPaths:
      - "/_matrix/client/(v2_alpha|r0|v3)/sync$"
      - "/_matrix/client/(api/v1|v2_alpha|r0|v3)/events$"
      - "/_matrix/client/(api/v1|r0|v3)/initialSync$"
      - "/_matrix/client/(api/v1|r0|v3)/rooms/[^/]+/initialSync$"
  pusher:
    enabled: true
  appservice:
    enabled: false
  federation_sender:
    enabled: true
  media_repository:
    enabled: false # TODO: `throws 404`
  user_dir:
    enabled: false
  frontend_proxy:
    enabled: false

wellknown:
  enabled: true

ingress:
  enabled: false
  className: contour-external
  traefikPaths: true
  annotations:
    "cert-manager.io/cluster-issuer": "lets-encrypt"
  hosts:
    - matrix.adb.sh
  # wkHosts:
  #   - adb.sh
  tls:
    - secretName: matrix-cert
      hosts:
        - "matrix.adb.sh"

gateway:
  enabled: true
  hosts:
    - matrix.adb.sh
