postgresql:
  enabled: false
postgresql-ha:
  enabled: false

# image:
#   rootless: false

gitea:
  config:
    APP_NAME: "CybreTown Git"
    database:
      DB_TYPE: postgres
      SCHEMA: ""
    log:
      LEVEL: Info
    repository:
      ROOT: /data/git/repositories
  additionalConfigFromEnvs:
    - name: GITEA__DATABASE__HOST
      valueFrom:
        secretKeyRef:
          name: gitea-db-app
          key: host
    - name: GITEA__DATABASE__PORT
      valueFrom:
        secretKeyRef:
          name: gitea-db-app
          key: port
    - name: GITEA__DATABASE__NAME
      valueFrom:
        secretKeyRef:
          name: gitea-db-app
          key: dbname
    - name: GITEA__DATABASE__USER
      valueFrom:
        secretKeyRef:
          name: gitea-db-app
          key: user
    - name: GITEA__DATABASE__PASSWD
      valueFrom:
        secretKeyRef:
          name: gitea-db-app
          key: password

redis-cluster:
  enabled: false
redis:
  enabled: true
  master:
    persistence:
      storageClass: "csi-rbd-sc"

persistence:
  enabled: true
  size: 16Gi
  storageClass: "csi-cephfs-sc"
  accessModes:
    - ReadWriteMany

test:
  enabled: false

# service:
#   http:
#     type: LoadBalancer

ingress:
  enabled: true
  apiVersion: networking.k8s.io/v1
  ingressClassName: contour-external
  hosts:
    - host: "git.cybre.town"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: gitea-cert
      hosts:
        - "git.cybre.town"
  annotations:
    "cert-manager.io/cluster-issuer": "lets-encrypt"
